<div class="register-box">
  <div class="register-logo">
    <a href="/"><b>FullStack</b>Training</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">注册新用户</p>

    <form action="/signup" method="post">
      {{#if errors.username}}
      <div class="form-group has-feedback has-error">
        <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i>{{errors.username}}</label>
      {{else}}
      <div class="form-group has-feedback">
      {{/if}}
        <input type="text" name="username" class="form-control" placeholder="昵称" value="{{username}}">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      {{#if errors.email}}
      <div class="form-group has-feedback has-error">
        <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i>{{errors.email}}</label>
      {{else}}
      <div class="form-group has-feedback">
      {{/if}}
        <input type="email" name="email" class="form-control" placeholder="邮箱" value="{{email}}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      {{#if errors.password}}
      <div class="form-group has-feedback has-error">
        <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i>{{errors.password}}</label>
      {{else}}
      <div class="form-group has-feedback">
      {{/if}}
        <input type="password" name="password" class="form-control" placeholder="密码" value="{{password}}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      {{#if errors.password2}}
      <div class="form-group has-feedback has-error">
        <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i>{{errors.password2}}</label>
      {{else}}
      <div class="form-group has-feedback">
      {{/if}}
        <input type="password" name="password2" class="form-control" placeholder="再次密码" value="{{password2}}">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> 我已阅读并同意 <a href="#">服务协议</a>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">注 册</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> 使用 Facebook 账号注册</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> 使用 Google+ 账号注册</a>
    </div>

    已有账号？<a href="/signin" class="text-center">立即登录</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
