<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>FullStack</b>Training</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">用户登录</p>

    <form id="auth_form" action="/signin" method="post">
      <input type="hidden" name="redirectTo" value="{{redirectTo}}">
      {{#if errors.email}}
      <div class="form-group has-feedback has-error">
        <label class="control-label" for="inputError"></i>{{errors.email}}</label>
      {{else}}
      <div class="form-group has-feedback">
      {{/if}}
        <input type="email" name="email" class="form-control" placeholder="邮箱" value="{{email}}">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      {{#if errors.password}}
      <div class="form-group has-feedback has-error">
        <label class="control-label" for="inputError">{{errors.password}}</label>
      {{else}}
      <div class="form-group has-feedback">
      {{/if}}
        <input type="password" name="password" class="form-control" placeholder="密码" value="{{password}}">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> 记住用户名

            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登 录</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> 使用 Facebook 账号注册</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> 使用 Google+ 账号注册</a>
    </div>
    <!-- /.social-auth-links -->

    没有账号？<a href="/signup" class="text-center">免费注册</a> | 忘记密码? <a href="#">找回密码</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<script type="text/javascript" src="/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript">
  $(function(){
    $('#auth_form').validate({
      debug: true,
      submitHandler: function(form) {
        form.submit();
        // $(form).ajaxSubmit();
      },
      rules: {
        email: {
          required: true,
          email: true
        },
        password: {
          required: true,
          minlength: 6,
          maxlength: 20
        },
      },
      messages: {
        email: {
          required: '邮箱为空!',
          email: '邮箱格式有误!'
        },
        password: {
          required: '密码为空!',
          minlength: $.validator.format('最短不能小于{0}个字符'),
          maxlength: $.validator.format('最长不能超过{0}个字符')
        },
      },
      errorPlacement: function($error, $element) {
        var $formGroup = $element.parent("div.form-group");
        // $error.prepend('<i class="fa fa-times-circle-o"></i>');
        $error.addClass('control-label')
        $formGroup.prepend( $error );
      },
      // errorClass: '',
      // validClass: '',
      // errorElement: 'label',
      showErrors: function(errorMap, errorList){
        // console.log(this.numberOfInvalids());
        this.defaultShowErrors();
      },
      highlight: function(element, errorClass, validClass){
        var $formGroup = $(element).parent("div.form-group");
        $formGroup.removeClass('has-success').addClass('has-error');
      },
      unhighlight: function(element, errorClass, validClass){
        var $formGroup = $(element).parent("div.form-group");
        $formGroup.removeClass('has-error').addClass('has-success');
        // 删除错误提示标签, 解决输入框右侧图标定位问题
        $(element).prev('label.control-label').remove();
      }
    });
  });
</script>