{{#extend 'page_styles'}}
<!-- editor.md markdown editor -->
<link rel="stylesheet" type="text/css" href="/lib/editor.md/css/editormd.css" />
{{/extend}}

{{> toolbar}}

{{> message}}

<div id="content" class="site-content" role="main">

{{#each articles}}
  <article class="post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
      <h2 class="entry-title">
        <a href="/articles/{{id}}" title="{{title}}">{{title}}</a>
      </h2>
      <div class="entry-meta"><span class="entry-date"><a href="#"><time class="entry-date published" datetime="{{timestamp.full}}">{{timestamp.west}}</time></a></span> by <span class="author vcard"><a class="url fn n" href="#"><span>{{author.username}}</span></a></span><span class="sep">&middot;</span><span class="comments-link"><a href="#">2 Comments</a></span></div>
    </header>
    <div class="entry-content markdown-body editormd-html-preview">
      {{{content_html}}}
    </div>
  </article>
  <!-- /.post -->
{{/each}}

</div>
<!-- /.site-content -->

{{#extend 'page_scripts'}}
<script src='/lib/editor.md/lib/prettify.min.js'></script>
<script src='/themes/flat/js/main.js?ver=1.7.5'></script>
<script src='/javascripts/pages/articles.js'></script>
{{/extend}}