{{#extend 'page_styles'}}
<!-- editor.md markdown editor -->
<link rel="stylesheet" type="text/css" href="/lib/editor.md/css/editormd.css" />
{{/extend}}

<div id="content" class="site-content" role="main">

<!--
  <article itemscope itemtype="http://schema.org/Article" id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
      <h2 class="entry-title" itemprop="name">
        <a itemprop="url" href="https://wp-themes.com/?p=1" title="Permalink to Hello world!" rel="bookmark">Hello world!</a>
      </h2>
      <div class="entry-meta"><span class="entry-date"><a href="https://wp-themes.com/?p=1" rel="bookmark"><time class="entry-date published" datetime="2008-06-04T22:40:06+00:00" itemprop="datepublished">June 4, 2008</time></a></span> by <span class="author vcard" itemscope itemprop="author" itemtype="http://schema.org/Person"><a class="url fn n" href="https://wp-themes.com/?author=1" rel="author" itemprop="url"><span itemprop="name">Theme Admin</span></a></span><span class="sep">&middot;</span><span class="comments-link"><a href="https://wp-themes.com/?p=1#comments" itemprop="discussionUrl">2 Comments</a></span></div>
    </header>
    <div class="entry-content" itemprop="articleBody">
      <p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>
    </div>
  </article>
-->

{{#each articles}}
  <article itemscope itemtype="http://schema.org/Article" id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
    <header class="entry-header">
      <h2 class="entry-title" itemprop="name">
        <a itemprop="url" href="/articles/{{id}}" title="{{title}}" rel="bookmark">{{title}}</a>
      </h2>
      <div class="entry-meta"><span class="entry-date"><a href="#" rel="bookmark"><time class="entry-date published" datetime="{{timestamp.full}}" itemprop="datepublished">{{timestamp.west}}</time></a></span> by <span class="author vcard" itemscope itemprop="author" itemtype="http://schema.org/Person"><a class="url fn n" href="#" rel="author" itemprop="url"><span itemprop="name">{{author.username}}</span></a></span><span class="sep">&middot;</span><span class="comments-link"><a href="#" itemprop="discussionUrl">2 Comments</a></span></div>
    </header>
    <div class="entry-content markdown-body editormd-html-preview" itemprop="articleBody">
      {{{content_html}}}
    </div>
  </article>
{{/each}}

</div>

{{#extend 'page_scripts'}}
<script src='/lib/editor.md/lib/prettify.min.js'></script>
<script src='/themes/flat/js/main.js?ver=1.7.5'></script>
<script src='/javascripts/pages/articles.js'></script>
{{/extend}}