{{#extend 'page_styles'}}
<!-- editor.md markdown editor -->
<link rel="stylesheet" type="text/css" href="/lib/editor.md/css/editormd.css" />
{{/extend}}

<h1 class="page-title">分类: Markdown</h1>

{{> message}}

<div id="content" class="site-content" role="main">

    {{#with article}}
    <article id="post-1" class="post-1 post type-post status-publish format-standard hentry category-uncategorized">
        <header class="entry-header">
            <h1 class="entry-title" itemprop="name">{{title}}</h1>
            <div class="entry-meta"><span class="entry-date"><a href="https://wp-themes.com/?p=1" rel="bookmark"><time class="entry-date published" datetime="{{timestamp.full}}" itemprop="datepublished">{{timestamp.west}}</time></a></span> by <span class="author vcard" itemscope itemprop="author" itemtype="http://schema.org/Person"><a class="url fn n" href="https://wp-themes.com/?author=1" rel="author" itemprop="url"><span itemprop="name">{{author.username}}</span></a></span><span class="sep">&middot;</span><span class="comments-link"><a href="https://wp-themes.com/?p=1#comments" itemprop="discussionUrl">2 Comments</a></span></div>
        </header>
        <div class="entry-content markdown-body editormd-html-preview" itemprop="articleBody">
            {{{content_html}}}
        </div>
        <div class="tags-links"><a href="#" rel="tag">markdown</a> <a href="#" rel="tag">md</a> <a href="#" rel="tag">gfm</a></div>
    </article>
    {{/with}}

    <nav class="navigation post-navigation" role="navigation">
        <h2 class="screen-reader-text">Post navigation</h2>
        <div class="nav-links">
            <div class="nav-previous"><a href="https://wp-themes.com/?p=8" rel="prev"><span class="meta-nav" aria-hidden="true">Previous</span> <span class="screen-reader-text">Previous post:</span> <span class="post-title">HTML</span></a></div>
            <div class="nav-next"><a href="https://wp-themes.com/?p=36" rel="next"><span class="meta-nav" aria-hidden="true">Next</span> <span class="screen-reader-text">Next post:</span> <span class="post-title">Elements</span></a></div>
        </div>
    </nav>

    <div id="comments" class="comments-area">
        <h2 class="comments-title">
            <span itemprop="interactionCount">2</span> comments
        </h2>

        <ol class="comment-list">
            <li id="comment-1" class="comment even thread-even depth-1">
                <article id="div-comment-1" class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <img alt='' src='https://secure.gravatar.com/avatar/?s=80&#038;d=identicon&#038;r=pg' srcset='https://secure.gravatar.com/avatar/?s=160&amp;d=identicon&amp;r=pg 2x' class='avatar avatar-80 photo avatar-default' height='80' width='80' />
                            <b class="fn"><a href='http://wordpress.org/' rel='external nofollow' class='url'>Mr WordPress</a></b> <span class="says">says:</span>
                        </div>
                        <!-- .comment-author -->

                        <div class="comment-metadata">
                            <a href="https://wp-themes.com/?p=1#comment-1">
                                <time datetime="2008-06-04T22:40:06+00:00">
                                    June 4, 2008 at 10:40 pm
                                </time>
                            </a>
                        </div>
                        <!-- .comment-metadata -->
                    </footer>
                    <!-- .comment-meta -->

                    <div class="comment-content">
                        <p>Hi, this is a comment.<br />To delete a comment, just log in and view the post&#039;s comments. There you will have the option to edit or delete them.</p>
                    </div>
                    <!-- .comment-content -->

                </article>
                <!-- .comment-body -->
            </li>
            <!-- #comment-## -->
            <li id="comment-509" class="comment odd alt thread-odd thread-alt depth-1">
                <article id="div-comment-509" class="comment-body">
                    <footer class="comment-meta">
                        <div class="comment-author vcard">
                            <img alt='' src='http://secure.gravatar.com/avatar/85beb992db2b118dd848411ffd841aac?s=80' class='avatar avatar-80 photo' height='80' width='80' />
                            <b class="fn"><a href='http://nexjs.com/' class='url'>Karlcarlo</a></b> <span class="says">says:</span>
                        </div>
                        <!-- .comment-author -->

                        <div class="comment-metadata">
                            <a href="https://wp-themes.com/?p=1#comment-509">
                                <time datetime="2008-11-05T19:38:11+00:00">
                                    November 5, 2008 at 7:38 pm
                                </time>
                            </a>
                        </div>
                        <!-- .comment-metadata -->
                    </footer>
                    <!-- .comment-meta -->

                    <div class="comment-content">
                        <p>Need a comment with a real Gravatar.</p>
                    </div>
                    <!-- .comment-content -->

                </article>
                <!-- .comment-body -->
            </li>
            <!-- #comment-## -->
        </ol>
        <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/?p=1#respond" style="display:none;">Cancel reply</a></small></h3>
            <form action="https://wp-themes.com/wp/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                <p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8"  aria-required="true" required="required"></textarea></p>
                <p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required='true' required='required' /></p>
                <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" aria-describedby="email-notes" aria-required='true' required='required' /></p>
                <p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="url" value="" size="30" /></p>
                <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="发布评论" />
                    <input type='hidden' name='comment_post_ID' value='1' id='comment_post_ID' />
                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                </p>
            </form>
        </div>
        <!-- #respond -->
    </div>
    <!--/.site-content -->
</div>

{{#extend 'page_scripts'}}
<script src='/lib/editor.md/lib/prettify.min.js'></script>
<script src='/themes/flat/js/main.js'></script>
<script src='/javascripts/pages/articles.js'></script>
{{/extend}}